.home{
    height: 100vh; 
}

.home-bg{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.home-top{
    display: flex;
    justify-content: flex-end;
    border: dotted pink;
}

.profile-img{
    height: 500px;
    /* border-radius: 50%; */
    border-radius: 10px;
    border: solid rgb(24, 20, 20);
}

